@model IEnumerable<ClassLibrary.Models.Menu>
@using ClassLibrary.Services;
<ul class="nav navbar-nav">
    @foreach (var item in Model)
    {
        <li>
            <a href="@item.TargetUrl">
                @item.Name
            </a>
            @{
                MenuService menuservice = new MenuService();
                var listchild = menuservice.GetMenuTopChild(int.Parse(item.Id.ToString()));
            }
            @if (listchild.Count() > 0)
            {
                <i class="fa fa-sort-down"></i>
                <ul>
                    @foreach (var itemchild in listchild)
                    {
                        <li>
                            <a href="@itemchild.TargetUrl">
                                @itemchild.Name
                            </a>
                        </li>
                    }
                </ul>
            }
        </li>
      }
</ul>
@*<ul class="nav navbar-nav">
    <li class="">
        <a href="#">
            Tai nạn giao thông
        </a>
    </li>
    <li>
        <a href="#">
            Tai nạn đuối nước
        </a>
    </li>
    <li>
        <a href="#">
            Tai nạn do ngã
        </a>
    </li>
    <li>
        <a href="#">
            Tai nạn lao động
        </a>
    </li>
    <li>
        <a href="#">
            Tai nạn do bóng
        </a>
    </li>
    <li>
        <a href="#">
            loại hình Tai nạn khác
        </a>
        <i class="fa fa-sort-down"></i>
        <ul>
            <li>
                <a href="#">
                    Tai nạn tự tử
                </a>
            </li>
            <li>
                <a href="#">
                    Tai nạn ngộ độc
                </a>
            </li>
            <li>
                <a href="#">
                    Tai nạn ngạt thở
                </a>
            </li>
            <li>
                <a href="#">
                    Điện giật/Sét đánh
                </a>
            </li>
            <li>
                <a href="#">
                    Bạo lực hành hung
                </a>
            </li>
        </ul>
    </li>
</ul>*@
