<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Website chưa mua bản quyền</title>
</head>
<body>
    <div class="row" style="text-align: center">
        WEBSITE ĐÃ HẾT PHÍ VUI LÒNG TRẢ TIỀN ĐỂ TIẾP TỤC SỬ DỤNG!
    </div>
</body>
</html>
